@page
@model WadApplication.Pages.WeaponCMS.WeaponCMS
@{
    ViewData["Title"] = "All Characters";
}
<h1>All Avaliable Weapons</h1>

<div class="searchGrid">
    <form asp-page="./AllWeapons" method="get">
        <partial name="_filterWeapon" />
        <a class="aBtns" asp-page="./AllWeapons" asp-route-sortOrder="@Model.NameSort" asp-route-searchStringName="@Model.CurrentNameFilter" asp-route-searchStringType="@Model.CurrentTypeFilter">
            @Model.NameSort
        </a>
        <a class="aBtns" asp-page="./AllWeapons" asp-route-sortOrder="@Model.TypeSort" asp-route-searchStringType="@Model.CurrentTypeFilter" asp-route-searchStringName="@Model.CurrentNameFilter">
            @Model.TypeSort
        </a>
    </form>
</div>

<section class="wrap">
    @foreach (var item in Model.Weapons)
    {
        <div class="filmThumb">
            <div>
                <a asp-page="WeaponDetailPage" asp-route-id="@item.WeaponID">
                    <img src=@(string.Format(@"\images\WeaponImages\{0}.webp", item.Name.Replace(" ", "%20"))) alt="@item.Name">
                </a>
            </div>
            <h3>
                @item.Name
            </h3>
        </div>
    }
</section>

<a class="aBtns" asp-page="./AllWeapons">Back to full List</a>
