@page
@model WadApplication.Pages.WeaponCMS.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Rarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Attack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].SubStat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].SubStatValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Passive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weapon[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Weapon) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubStat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubStatValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WeaponID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WeaponID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WeaponID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
