@page
@model WadApplication.Pages.WeaponCMS.IndexModel

@{
    ViewData["Title"] = "Weapon CMS";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Weapons Content Management Page</h1>

<div class="searchGrid">
    <a asp-page="Create" class="aBtns">Create New Weapon</a>

    <form asp-page="./Index" method="get">
        <a class="aBtns" id="toggleSearch">Filters</a>
        <input type="text" name="searchStringName" value="@Model.CurrentNameFilter" placeholder="Enter weapon name"/>
        <input type="submit" value="Search" class="" />
    </form>

    <div class="AdvancedSearch">

        <form asp-page="./Index" method="get">
            <input type="submit" name="searchStringType" value="Bow" />
            <input type="submit" name="searchStringType" value="Catalyst" />
            <input type="submit" name="searchStringType" value="Claymore" />
            <input type="submit" name="searchStringType" value="Sword" />
        </form>

        <a class="aBtns" asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
            Name  
        </a>
        <a class="aBtns" asp-page="./Index" asp-route-sortOrder="@Model.TypeSort">
            Type
        </a>
    </div>
</div>
<section class="wrap">

    @foreach (var item in Model.Weapons)
    {
        <div class="filmThumb">
            <div>
                <a>
                    <img src=@(string.Format(@"\images\WeaponImages\{0}.webp", item.Name.Replace(" ", "%20"))) alt="@item.Name">
                </a>
            </div>

            <h3>
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
            <div class="cms-details">
                <a asp-page="./Edit" asp-route-id="@item.WeaponID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WeaponID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WeaponID">Delete</a>
            </div>
        </div>
    }

</section>

<a class="aBtns" asp-page="./Index">Back to full List</a>