@page
@model WadApplication.Pages.WeaponCMS.WeaponCMS

@{
    ViewData["Title"] = "Weapon CMS";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Weapon Management Page</h1>

<div class="searchGrid">
    <a asp-page="CreateWeapon" class="aBtns">Create New Weapon</a>

    <form asp-page="./WeaponsCMS" method="get">
        <partial name="_filterWeapon" />
        <a class="aBtns" asp-page="./WeaponsCMS" asp-route-sortOrder="@Model.NameSort" asp-route-searchStringName="@Model.CurrentNameFilter" asp-route-searchStringType="@Model.CurrentTypeFilter">
            @Model.NameSort
        </a>
        <a class="aBtns" asp-page="./WeaponsCMS" asp-route-sortOrder="@Model.TypeSort" asp-route-searchStringType="@Model.CurrentTypeFilter" asp-route-searchStringName="@Model.CurrentNameFilter">
            @Model.TypeSort
        </a>
    </form>
</div>
<section class="wrap">
    @foreach (var item in Model.Weapons)
    {
        <div class="filmThumb">
            <div>
                <a>
                    <img src=@(string.Format(@"\images\WeaponImages\{0}.webp", item.Name.Replace(" ", "%20"))) alt="@item.Name">
                </a>
            </div>

            <h3>
                @item.Name
            </h3>
            <div class="cms-details">
                <a asp-page="./EditWeapon" asp-route-id="@item.WeaponID">Edit</a> |
                <a asp-page="/WeaponPages/WeaponDetailPage" asp-route-id="@item.WeaponID">Details</a> |
                <a asp-page="./DeleteWeapon" asp-route-id="@item.WeaponID">Delete</a>
            </div>
        </div>
    }

</section>

<a class="aBtns" asp-page="./WeaponsCMS">Back to full List</a>